.header-content {
  height: 20vh;
  display: flex;
  flex-direction: column;
  color: #000000;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12pt;
}
.header-content h2 {
    
}