.header-content {
  height: 20vh;
  display: flex;
  color: #333333;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12pt;
}
.header-content div h2 {
     font-weight: 400;
     font-size: x-large;
}
.header-content div P {
    font-size: 10pt;
}

.header-timer-number {
   margin-left: 3rem;
   display: flex;
   flex-direction: column;
   border: 1px solid #cccccc;
   border-radius: 100px;
   padding: 10px;
   height: 75px;
   width: 70px;
}
.header-timer span span:last-child{
    font-size: 18pt;
    position: relative;
}
.header-timer span span{
   font-size: 8pt;
   /* position: absolute; */
}
