.question-text {
    width: fit-content;
    padding: 0.5rem;
    align-self: center;
    border-radius: 3px;
    box-shadow: .5px .5px 6px #666666;
    background-color: #fff;
    color: #333333;
    transition: 300ms ease-in;
    z-index: 9;
    font-size: 10pt;
}
.question-text:hover {
        transform: scale(1.2);
}
.q{
    height: 3rem;
    width: 3rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: .5px .5px 6px #666666;
    background-color: #333333;
    color: #ffffff;
    border-radius: 2px;
    z-index: 3;
    transition: 500ms ease-in;
}
.question span {
    font-size: 13pt;
}
.question {
     display: flex;
     place-content: center;
}
.question-content  .question div {
    display: flex;
    padding: 5px;
}


@media screen and (max-width: 640px) {
    .q{
            background-color: #ffffff ;
            color:  #333333;
        }
        .question-text {
            background-color: #333333;
            color: #ffffff;
        }
   }