body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   border-radius: 5rem;
   font-size: 11pt;
   user-select: none;
}

* {
   border: 0; 
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

.content {
   color: #000000;
   margin-top: .3rem; 
   border-radius: 5px;
}
