body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   border-radius: 5rem; 
}

* {
   border: 0; 
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}

.content {
   height: 20vh;
   width: 50vw;
   background-color: black;
   color: #ffffff;
   border: 1px solid red;
   margin-top: .3rem; 
     
}